# Stack / Haskell
.stack-work/
dist/
dist-newstyle/
.stack-work/
stack.yaml.lock

# Binaries
*.exe
*.out
*.o
*.hi

# Editor / sistema
.vscode/
.idea/
.DS_Store
.env

# Frontend (se algum dia usar build)
node_modules/
